.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
}

.Box{
   width: 750px !important;
}
  .Box table{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.link-primary{
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}
.link-primary a {
  text-decoration: none;
}